// Place all the styles related to the groups controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body.groups {
  #group-form {
    .domain {
      span.help-inline {
        color: #404040;
      }
    }
  }
  #left-side {
    
    #left-top-promo {
      background: #6A6A6A;
      height: 50px;
      width: 200px;
    }
    #group-box {
      border: 1px solid #AAA;
      background: #FFF;
      padding: 3px 10px;
      .name {
        margin: 10px 0 15px;
        font-size: 18px;
        font-weight: bold;
      }
      .logo {
        margin-bottom: 10px;
      }
    }
    
  }
  #right-side {
    #like-box {
      height: 320px;
      background: #FFF;
    }
  }
  #main {
    
    article.group {
      padding: 10px;
      
      header {
        background: #f1f1f1;
        padding: 5px;
        overflow: hidden;
      
        .access {
          display: block;
          float: left;
          margin-right: 5px;
          width: 24px;
          height: 24px;
        }
        .title {
          float: left;
          margin-top: 4px;
        }
      }
      .content {
        overflow: hidden;
        .group-logo {
          width: 100px;
          padding: 10px 0;
        }
        .group-info {
          width: 350px;
          padding-left: 10px;
        }
        .about {
          color: #727272;
          font-size: 12px;
        }
      }
    }
  }
  
  // SHOW PAGE
  &.show {
    #main-background {
      background: transparent !important;
    }
    section {
      background: #FFF;
      padding: 10px;
      margin-bottom: 10px;
      border: 1px solid #AAA;
      box-shadow: 0 0 2px #AAA;
      
      &.last {
        margin-bottom: 2px;
      }
      
      & > header {
        background: #272727;
        padding: 5px 10px;
        overflow: hidden;
        font-size: 14px;
        color: #FFF;
      }
      article {
        header {
          strong {
            font-size: 18px;
          }
          .poster {
            height: 40px;
            width: 40px;
            border: 1px solid #CCC;
            padding: 2px;
            margin-right: 10px;
          }
          .title {
            width: 402px;
          }
          p {
            margin-bottom: 0;
            color: #999;
            font-size: 11px;
          }
        }
        & > p {
          padding-left: 57px;
        }
      }
    }
    #join {
      background: #FFF;
      padding: 10px;
      margin-bottom: 10px;
      a {
        font-weight: bold;
        font-size: 16px;
        padding: 10px 72px;
      }
    }
    #members {

      .photos {
        overflow: hidden;
        padding-top: 10px;
        
        .photo {
          width: 40px;
          height: 40px;
          display: inline-block;
          text-align: center;
          float: left;
          margin-right: 4px;
          margin-bottom: 4px;
          
          &.last {
            margin-right: 0;
          }
        }
      }
    }
  }
}
