<div id="topmenu">
  <div class="container">
    <ul class="pull-right">
      <li><span>Dang nhap voi tai khoan</span></li>
      <li><%= link_to "Yahoo", "", :class => "yahoo", :rel => "twipsy", :title => "Yahoo", "data-placement" => "below" %></li>
      <li><%= link_to "Google", "", :class => "google", :rel => "twipsy", :title => "Google", "data-placement" => "below" %></li>
      <li><%= link_to "Facebook", "", :class => "facebook", :rel => "twipsy", :title => "Facebook", "data-placement" => "below" %></li>
    </ul>
  </div>
</div>  
